@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dropdown-z: 10;
  --header-z: 100;
  --modal-z: 1000;
}

@theme {
  --color-turquoise-100: #c7fffa;
  --color-turquoise-200: #90fff5;
  --color-turquoise-300: #50f8ef;
  --color-turquoise-400: #19d7d2;
  --color-turquoise-500: #04c8c6;

  --color-primary: var(--color-turquoise-400);
  --color-primary-hover: var(--color-turquoise-500);
  --color-primary-active: var(--color-turquoise-400);
  --color-primary-sub: #93edc7;
  --color-text-black: #111;
  --color-black: #2f3635;
  --color-border: #d9dddd;

  --color-bg: #f9fafb;
  --color-bg-section: #ecfdfd;
  --color-bg-card: #ffffff;
  --color-bg-hover: #d1f4f0;
  --color-bg-dark: #0f766e;
}

@layer components {
  /* 기본적인 서브 텍스트 스타일 */
  .sub-text {
    @apply text-[12px] text-gray-500;
  }

  /* 제목 아래 설명 텍스트 */
  .caption-text {
    @apply text-[13px] text-gray-600 leading-snug;
  }

  /* 카드나 리스트 아이템의 메타 정보용 */
  .meta-text {
    @apply text-[11px] text-gray-500 tracking-tight;
  }

  .btn-gradient {
    background-image: linear-gradient(
      to right,
      #1cd8d2 0%,
      #93edc7 51%,
      #1cd8d2 100%
    );
    transition: all 0.4s ease-in-out;
    background-size: 200% auto;
    color: white;
    display: block;
  }

  .btn-gradient:hover {
    background-position: right center;
    color: #fff;
  }

  .bg-gradient {
    background-image: linear-gradient(
      to right,
      #1cd8d2 0%,
      #93edc7 51%,
      #1cd8d2 100%
    );
  }
}

html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
  @apply flex flex-col;
  @apply text-black;
}
